@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0 auto;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.cabecalho-imagem {
    height: 40px;
}

.cabecalho-menu {
    display: flex;
    gap: 30px;
}

.cabecalho-menu-item-botao-primeiro {
    border: none;
    background-color: #48B760;
    width: 90px;
    height: 40px;
    left: 300px;
    top: 40px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}

.cabecalho-menu-item {
    font-family: 'Inter', sans-serif;
    color: #828282;
    font-weight: 400;
    font-size: 14px;
}

.cabecalho-menu-item-botao-segundo {
    border: none;
    background-color: #48B760;
    Width: 120px;
    Height: 40px;
    Top: 40px;
    Left: 1270px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;

}

.conteudo {
    margin-bottom: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 1360px;
    padding: 30px;
}


.agrobot-section {
    display: flex;
    flex-direction: row;
    height: 790px;
    justify-content: center;
    
    column-gap: 80px;
    text-align: start;

    text-align: start;

} 

.agrobot-section .description{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.agrobot-section .description h1 {
    font-family: 'Roboto', sans-serif;
    color: #48B760;
    font-weight: 900;
    font-size: 135px;
}

.agrobot-section .description p.subtitle{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 18px;
    color: #BDBDBD;
}

.agrobot-section .description p.merchan{
    height: 71.63px;
    text-align: justify;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}


.products {
    margin-top: 30px;

}

.products .title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 110px;
    color: #4F4F4F;


}

.products .subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #828282;
    margin-top: 50px;

}

.product-items{
    margin-top: 60px;
    display: flex;
    gap: 27px;
}

.item {
    box-sizing: border-box;

    width: 315px;
    height: 372px;

    background: #FFFFFF;
    border: 2px solid #0A8D0F;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.item p {

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 26px;
color: #4F4F4F;

}

.item button {

    height: 50px;
    width: 150px;

background: rgba(10, 141, 15, 0.58);
box-shadow: 0px 4px 20px rgba(115, 205, 0, 0.1);
border-radius: 10px;

cursor: pointer;
}

.item button p {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
color: white;
}

.rodape {
    padding: 109px;
    background-color: #4F4F4F;
}

.rodape-imagem {
    display: flex;

}

.rodape-paragrafo {
    padding: 100px;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #828282;


}

.rodape-subparagrafo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;

}

.rodape-imagem {
    padding: 10px;
    display: inline;
    align-items: center;
    margin-left: 0 auto;


}
